<% content_for :navigation_menu do %>
  <ul class="horizontal">
    <li class="link"><%= link_to material_icon.mode_edit, new_article_path %></li>
  </ul>
<% end %>

<% if @count == 0 %>
  <section class="welcome">
    <h1>Welcome to <span>Kip</span></h1>
    <p>
      Kip is an open source Knowledge base, because <strong>knowledge is Power</strong>.
      Don't let words pass you by, <strong>start to write your awesome first article</strong>.
    </p>
    <%= link_to "Write your first article #{material_icon.mode_edit.css_class('small')}".html_safe,
            new_article_path, class: 'btn btn-blue' %>
  </section>
<% else %>
  <section class="search-box">
    <div class="wrap">
      <article class="search">
        <%= text_field_tag 'search', '', class: 'main-search', placeholder: 'Search' %>
      </article>
    </div>
  </section>

  <div class="wrap">
    <section class="article-list">
      <% @articles.each do |category, articles| %>
        <%= render partial: 'category', locals: { category: category, articles: articles} %>
      <% end %>
    </section>
    <section class="article-search">
    </section>
  </div>
<% end %>
