<section class="article article-show">
  <header>
    <h1 class="article-title">Markdown cheatsheet</h1>
  </header>
  <article class="article-text markdown">
    <%= @cheatsheet %>
  </article>
</section>
