/* Main
 * ------------------ */

$background-color:        white;
$dark-background-color:   #F6F6F6;
$primary:                 #4C88ED;
$secondary:               #676767;
$light:                   #D3E3FF;
