/* Dimensions
 * ------------------ */

// Base
$container-width:     1130px;
$margin-l:            18px;
$margin-m:            12px;
$margin-s:            6px;

// Responsive
$break-tablet:        797px;
$break-mobile:        480px;
