@import "base/globals";

.article-list {
  @include display-flex-center();

  .category {
    width: 300px;
    margin: 10px 20px;
    text-align: center;

    h2 {
      font-weight: 300;
      color: $secondary;
      font-size: 2.2em;
    }

    ul {
      list-style: none;
      padding-left: 2px;
    }
  }
}
