<header class="main">
  <div class="wrap">
    <%= link_to root_path do %>
      <div class="brand">
        <img class="kip" alt="Kip" src="/kip.png"/>
        <h1>Kip</h1>
      </div>
    <% end %>
    <nav class="main">
      <%= yield :navigation_menu %>
    </nav>
  </div>
</header>
