<header>
  <div class="wrap">
    <div class="brand">
      <img class="kip" alt="Kip" src="images/kip.png"/>
      <h1>Kip</h1>
    </div>
    <nav class="main">
      <ul class="horizontal">
        <li><%= link_to material_icon.mode_edit, '#' %></li>
      </ul>
    </nav>
  </div>
</header>
